.app-download{
    margin: auto auto;
    margin-top: 80px;
    text-align: center;
    font-weight: 500;
    font-size: max(2vw,24px);
}
.app-download-platforms{
    display: flex;
    gap:max(2vw,10px);
    justify-content: center;
    margin-top: 20px;
}
.app-download-platforms img {
    max-width: 180px;
    width: max(20vw, 120px);
    transition: transform 0.5s;
    cursor: pointer;
}
.app-download-platforms img:hover {
    transform: scale(1.05);
}
